/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

/* Logo styles */
.logo h1 {
    font-size: 24px;
    color: #ff4500; /* Orange-red color */
}

.logo h1 span {
    color: #ffd700; /* Gold color */
}

/* Navigation styles */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ff4500; /* Orange-red color for the links */
}

/* Accueil link specific styles */
.accueil-link {
    color: #4CAF50; /* Green color for Accueil link */
}

.accueil-link:hover {
    color: #FF6347; /* Tomato color on hover */
}

/* WhatsApp button styles */
.whatsapp-button, .whatsapp-button-large {
    background-color: #25d366; /* WhatsApp green */
    color: #b74040;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.whatsapp-button-large {
    display: inline-block;
    margin-top: 20px;
}

/* Hero section styles */
.hero {
    padding: 50px 20px;
    text-align: center;
    background: url('hero-bg.jpg') no-repeat center center/cover;
    color: #282020;
}

/* Delivery info section styles */
.delivery-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.text-content {
    max-width: 600px;
}

.image-content img {
    width: 100%;
    max-width: 400px;
}

/* Responsive styles for screens smaller than 768px */
@media (max-width: 768px) {
    .delivery-info {
        flex-direction: column;
        align-items: center;
    }
}

/* Responsive styles for screens smaller than 480px */
@media (max-width: 480px) {
    .hero {
        padding: 30px 10px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-left: 0;
        margin-top: 10px;
    }

    .whatsapp-button, .whatsapp-button-large {
        padding: 8px 15px;
        font-size: 14px;
    }
}
.whatsapp-button-large {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #25D366; /* Couleur verte de WhatsApp */
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.whatsapp-button-large:hover {
    background-color: #128C7E; /* Couleur plus sombre de WhatsApp au survol */
}
